.personInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-shadow: var(--shadow);
  background: var(--white);
  cursor: pointer;
  transition: background 0.4s ease;

  &:hover {
    transition: background 0.15s ease;
    background: rgb(245, 236, 237);
  }

  &[data-selected="true"] {
    outline: 2px solid var(--info);
  }
}

.personDetailsHeader {
  display: flex;
  justify-content: start;
  gap: 1rem;
  text-align: left;
}

.personInitials {
  border: 1px solid var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-size: 0.9rem;
}

.personName {
  color: var(--dark-grey);
  font-size: 1.2rem;
  font-weight: 700;
}

.jobTitle {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

.emailAddress {
  color: var(--light-grey);
  font-size: 0.9rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}

.personInfoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  padding: 1rem;
  gap: 1rem;
  overflow-anchor: none;
}
