* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  --white: #fff;
  --light: #f5f5f5;
  --disabled: #cccccc;
  --black: #000;
  --primary: #ef7b6f;
  --primary-hover: #af554b;
  --light-grey: #666666;
  --dark-grey: #333333;
  --info: #3498db;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: vaR(--light);
}

main {
  min-height: 40vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  --mask: conic-gradient(#0000 10%, var(--black)),
    linear-gradient(var(--black) 0 0) content-box;
  display: inline-block;
  width: 1rem;
  padding: 0.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
